*{
    margin: 0px;
    font-family: 'Open Sans';
    

}


.text-primary{
    color: #fd6e0a;
}

.btn-primary{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    padding: 15px 30px;
    height: 64px;
    border-radius: 5px;
    background: #fd6e0a;
    border: 0px;
}

.btn-primary2{
    color: #fd6e0a;
    font-size: 20px;
    font-weight: 700;  
    height: 64px;
    border-radius: 5px;
    background-color: #FFFFFF;
    border-color:#fd6e0a; 
    width: 30%;
    
}

.header{
    background: #FFF8F3;
    background-image: url('../images/icon/header_bg.png'), url("../images/icon/developer.png"); 
    /* background-image:cover; */
    Background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right, left;
    

}


/* header and navigation styles */
nav{
    display: flex;
    justify-content: space-between;
    padding:50px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
    
}
nav li{
    list-style: none;
    margin-left: 50px;
}
/* banner style */
.banner{
    margin: 0 200px;
    display: flex;
    align-items: center;
}
.banner-title{
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 20px;
}
.banner-sub-title{
    font-weight: 400;
    font-size: 30px;
}
.banner-description{
    color:#757575;
    font-size: 18px;
    padding-left: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
}
/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about section styles */

.about{
    text-align: center;
    margin: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;

}
.sec-title{
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
}
.sec-description{
    font-size: 18px;
    text-align: center;
    color: #757575;
    margin-bottom: 30px;

}
.about-info-cont{
    display: flex;
    justify-content: space-around;
    
}
.about-info-title{
    font-size: 15px;
    color: #757575;
}
.info-description{
    font-weight: 600;
    font-size: 12px;
    color: #474747;
    
}
   /* what i do styles */
   .section-title{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
   }
.what-i-do{
    margin-top: 130px;
    
}
.skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.skills-container{
    display: flex;
    gap: 24px;

}
.skill-title{
    font-weight: 600;
    font-size: 15px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.skill-description{
    color: #757575;
    font-weight: 400;
    font-size: 14px;
}
.section-title{
    margin-top: 130px;
}
/* resume-styles */

.resume-content{
    display: flex;
    gap: 24px;
}
.resume-title{
    font-weight: 700;
font-size: 25px;
color: #474747;
}
.r-title{
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: black;


}

.resume-item{
    margin-top:30px;
    margin-bottom: 30px;

}
.sub-title{
    color: #757575;
    font-weight: 400;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.r-title{
    font-weight: 700;
    font-size: 15px;
}

.r-description{
   
    color: #757575;
}

.resume-button{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    
}
/* contact style */

.contact{
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 200px;
}
.contact .section-title{
    text-align: left;  
}

.contact input[type="text"],input[type="email"],textarea{
    margin-bottom: 24px;
    border: 0px;
    width: 100%;
    padding: 18px 30px;
}

input{
    height: 64px;
}
.icon{
    padding-bottom: 20px;
    padding-right: 20px;
}
.action1, .action2{
    width: 200px;
    height: 40px;
}

